/* 
Color list
#F6F1D1 -- champagne
hsla(204, 14%, 7%, 0.9) -- dark dark greenish grey 
*/
body {
  margin-top: 100px;
  background-color: hsla(204, 14%, 7%, 0.9);
    font-family: 'Ubuntu Mono', serif;
}

#about-me {
  background-color: #F6F1D1;
  color: #3C454A;
  padding: 35px 15px 35px 20px;
  margin: 0px 0px 25px 0px;   
}

.menu-subtitle{
  background-color: hsla(204, 14%, 7%, 0.1)/*#9ABCABhsla(210, 50%, 30%, 0.55)*/;
  color: #F6F1D1/*#3C454A*/;
  padding: 15px 10px 15px 10px;
  margin: 5px 0px 5px 0px;

}

.work-thumb{
  padding: 15px 10px 15px 10px;
  margin: 5px 0px 50px 0px;
  background-color: hsla(204, 14%, 7%, 0.1);
  color: #F6F1D1
}

.cv-item{
  padding: 5px 5px 5px 10px;
  margin: 5px 100px 5px 0px;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.contact-box{
  color: #F6F1D1
  
}

textarea.form-control{
    height:100px;
}

canvas {
	display: block;	
}
